*~
.DS_Store
*/.DS_Store
logs
*.log
.env
.ipynb_checkpoints
ivod_local.db
# Ignore shared SQLite DB files
db/*.db
Test.ipynb
test.py
.pytest_cache/
*.coverage
__pycache__/
coverage.xml
*.pyc
db/ivod_local.db